/*
 * General styling
 */


/*
 * Specific styling
 */
.authentication {
    max-width: 350px;
    margin: 5% auto 0 auto;
}
.authentication .reset-password-link {
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 2px;
}

.authentication-link {
    display: block;
    text-align: center;
}